IFACE=eth0
REDIS_PORT=6379
REDIS_STREAM=suricata:cic_flow
REDIS_STREAM_MAXLEN=100000
CIC_MODE=cic-flowmeter
CIC_FLOW_TIMEOUT_US=120000000
CIC_ACTIVE_IDLE_THRESHOLD_US=5000000
SURICATA_RUNMODE=workers
SURICATA_EXTRA_ARGS=
